html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  min-width: 1200px;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  line-height: 1.8;
}
a {
  color: #0099cc;
  transition: color .5s;
  text-decoration: none;
}
a:hover {
  color: #3366ff;
}
.ta-center {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.shake {
  display: inline-block;
}
.shake:hover {
  animation: key-shake 0.1s linear infinite;
}
@keyframes key-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg) translate(2px, 0);
  }
  75% {
    transform: rotate(-2deg) translate(-2px, 0);
  }
}
.header-block {
  height: 50px;
  background: #000;
  box-shadow: 0 2px 2px #ccc;
  margin-bottom: 20px;
}
.header-block h1 {
  line-height: 50px;
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: #fff;
}
.grid {
  width: 1200px;
  margin: 0 auto;
}
.grid:before,
.grid:after {
  display: table;
  line-height: 0;
  content: "";
}
.main-block {
  overflow: hidden;
  position: relative;
}
.aside-block {
  float: right;
  min-height: 200px;
  width: 250px;
  padding: 15px 20px 0;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  margin-left: 10px;
}
.aside-block .aside-tit {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
.aside-block p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.article-block {
  overflow: hidden;
  background: #f5f5f5;
  border: 6px solid #653366;
  border-radius: 6px;
  padding: 2em;
  font-size: 16px;
}
